/* основной цвет текста #757575 */
/* вторчний чвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет ссылок в футтере rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона #F5F4FA */
/* цвет фона #ffffff */

body {
  background-color: #ffffff;
  color: #757575;
}

.list {
  list-style: none;
}
